/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2018, 2:17:50 PM
    Author     : DELL
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;

}
body{
    background-color: rgba(128,128,128,.8);
    margin: 0
}
progress{
    width: 100%;
    height: 5px;
    position: fixed;
}
progress:hover{


}
.container{
    background: #c4fff0;
    width: 980px;
    height: auto;
    margin: auto
}
header{
    height: 200px;
    background: #ff1026;
    width: 100%
}
.logo{
    width: 200px;
    height: 200px;
    background-color: #ff1174;
    background-image: url(../images/index.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left
}
.banner{
    width: 780px;
    height: 200px;
    background-color: #ff1174;
    background-image: url(../images/1416831456.jpg);
    background-repeat: no-repeat;
    background-position: center;
    float: left
}
nav{
    height: 60px;
    width: 100%;
    background: #ff1026;
    border-top: 1px solid #000;
    position: relative;

}
nav ul{
    display: block;
    width: 100%;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}
nav ul li{
    list-style: none;
    display: inline

}
nav ul li a{
    text-decoration: none;
    line-height: 60px;
    padding: 22px 20px;
    text-transform: uppercase;
    color: #fff
}
nav ul li a:hover{
    background: #00ffff;
    color: #000
}
.main-section{
    width: 980px;
    height: auto;
    background: #ff1026;
    border-top: 1px solid #000
}
aside{
    width: 200px;
    height: 500px;
    background: #ffc900;
    border-right: 1px solid #000;
    float: left
}
main{
    width: 580px;
    height: 500px;
    background: #ff1aaa;
    border-right: 1px solid #000;
    float: left;
    background-image: url(../images/dot_patern.jpg);

    background-repeat: repeat
}
.ad-notice{
    width: 200px;
    height: 500px;
    background: blue;
    border-right: 1px solid #000;
    float: left
}
.big-footer{
    width: 980px;
    height: 200px;
    background: #ff1026;
    border-top: 1px solid #000;
    clear: both
}
footer{
    width: 980px;
    height: 70px;
    background: #ff1026;
    border-top: 1px solid #000
}
